body {
    background-color: grey;
}
#firstUniversity {
    color: black; 
    font-weight: 500;
}
#secondUniversity {
    color: black; 
    font-weight: 500;
}
#thirdUniversity {
    color: black; 
    font-weight: 500;
}
#selectStudentShowTask{
    font-weight: 800;
}
.nav-link{
    color: black; 
    font-size: medium; 
    font-weight: 500;
}
#nav-link-active{
    color: black; 
    font-size: medium; 
    font-weight: 800;
}
.jumbotron{
    border:0.5px solid #888;
    box-shadow:0px 2px 5px #ccc;
}
#tasksStudentList{
    color: black; 
    font-weight: 500;
}
#studentsListShow{
    color: black; 
    font-weight: 500;
}
#tasksList{
    color: black; 
    font-weight: 500;
}
h1{
    color: white; 
    font-weight: 800;
}
h2{
    color: white; 
    font-size: medium; 
    font-weight: 800;
}
#selectTaskRemove{
    font-weight: 800;
}
#studentsListModify{
    color: black; 
    font-weight: 500;
}
#selectStudentModifyOrRemove{
    font-weight: 800;
}